.container{
    display: flex;
    padding: 0  50px;
    gap: 100px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.heading{
    font-size: 40px;
}
.subheading{
    font-size: 20px;
    font-weight: 600;
    color: var(--btn);
}
.desc{
    font-size: 15px;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.box h1{
    font-size: 25px;
    color: var(--btn);
}
.box p{
    font-size: 15px;
}
.imgContainer{
    position: relative;
    flex: 1;
}
.AboutImg{
    object-fit: contain;
}
@media screen and (max-width:768px){
    .imgContainer{
        display: none;
    }
    
}