.container{
    display: flex;
    padding:  50px;
    flex-wrap: wrap;
    gap: 30px;
}
.post{
    width: 30%;
}

@media screen and (max-width:900px) {
    .post{
        width: 45%;
    }    
}
@media screen and (max-width:700px){
    .post{
        width: 100%;
    }    
}